.App
    align-items: center
    display: flex
    flex-flow: column
    height: 100%

.App__Header
    padding: 15px

.App__Sidebar
    padding: 15px

.App__Main
    background-color: black
    display: flex
    flex-grow: 1
    position: relative
    width: 100%
